.player-container {
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.container2 {
    display: flex;
    flex-direction: column;
    justify-self: start;
    align-items: left;
    height: 100%;
    
}

.img{
   
}

.name{
    width: 100%;
    height: 40%;
}

.piezas{
    width: 30px;
    height: 30%;
}

.name-pieces-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-left: 20px;
    height: 100%;
}